{% extends 'auth/chair.html' %}

{% block link %}
    <link href="css/plugins/slick/slick.css" rel="stylesheet">
    <link href="css/plugins/slick/slick-theme.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">

        <div id="main_div" class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content">
                    <span class="text-muted small pull-right">Last modification: <i class="fa fa-clock-o"></i> {{ last_modification }}</span>
                    <h2>PTA board</h2>
                    <p>
                        You can change/enter details about PTA board.
                    </p>
                    <div class="clients-list">
                    <ul class="nav nav-tabs">
                        <span class="pull-right small text-muted">{{ counter }}</span>
                        <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-user"></i> PTA board list</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-user-plus"></i> Add new</a></li>
                    </ul>
                    <div class="tab-content">
                        <div style="margin-top:35px;" id="tab-1" class="tab-pane active">

                            <div class="col-md-5">
                                <div class="product-images">
                                    <div>
                                        <div class="image-imitation">
                                            [IMAGE 1]
                                        </div>
                                    </div>
                                    <div>
                                        <div class="image-imitation">
                                            [IMAGE 2]
                                        </div>
                                    </div>
                                    <div>
                                        <div class="image-imitation">
                                            [IMAGE 3]
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-7">

                                <h2 class="font-bold m-b-xs">Desktop publishing software</h2>
                                <small>Many desktop publishing packages and web page editors now.</small>
                                <div class="m-t-md">
                                    <h2 class="product-main-price">$406,602 <small class="text-muted">Exclude Tax</small> </h2>
                                </div>
                                <hr>

                                <h4>Product description</h4>

                                <div class="small text-muted">
                                    It is a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at its layout. The point of using Lorem Ipsum is

                                    <br/>
                                    <br/>
                                    There are many variations of passages of Lorem Ipsum available, but the majority
                                    have suffered alteration in some form, by injected humour, or randomised words
                                    which don't look even slightly believable.
                                </div>
                                <dl class="small m-t-md">
                                    <dt>Description lists</dt>
                                    <dd>A description list is perfect for defining terms.</dd>
                                    <dt>Euismod</dt>
                                    <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                                    <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                                    <dt>Malesuada porta</dt>
                                    <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                                </dl>
                                <hr>

                                <div>
                                    <div class="btn-group">
                                        <button class="btn btn-primary btn-sm"><i class="fa fa-cart-plus"></i> Add to cart</button>
                                        <button class="btn btn-white btn-sm"><i class="fa fa-star"></i> Add to wishlist </button>
                                        <button class="btn btn-white btn-sm"><i class="fa fa-envelope"></i> Contact with author </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div id="tab-2" class="tab-pane">
                            <div class="full-height-scroll">

                                    <form style="margin-top:25px;" method="post" action="" class="form-horizontal">
                                        {% csrf_token %}

                                        <div class="col-sm-10" style="display:none"><input id="old_email" name="old_email" type="text" class="form-control"></div>


                                        <div class="form-group"><label class="col-sm-2 control-label">First Name *</label>
                                            <div class="col-sm-10"><input id="first_name" name="first_name" pattern=".{3,}" title="Minimum 3 characters required" required="" type="text" placeholder="First Name" class="form-control"></div>
                                        </div>
                                        <div class="hr-line-dashed"></div>


                                        <div class="form-group"><label class="col-sm-2 control-label">Last Name *</label>
                                            <div class="col-sm-10"><input id="last_name" name="last_name"  pattern=".{3,}" title="Minimum 3 characters required" required="" type="text" placeholder="Last Name" class="form-control"></div>
                                        </div>
                                        <div class="hr-line-dashed"></div>


                                         <div class="form-group"><label class="col-sm-2 control-label">Role *</label>
                                            <div class="col-sm-10"><input id="role" name="role" pattern=".{3,}" title="Minimum 3 characters required" required="" type="text" placeholder="Role" class="form-control"></div>
                                        </div>
                                        <div class="hr-line-dashed"></div>


                                        <div class="form-group"><label class="col-sm-2 control-label">Email *</label>
                                            <div class="col-sm-10"><input id="email" required="" name="email" type="email" placeholder="Email" class="form-control"></div>
                                        </div>
                                        <div class="hr-line-dashed"></div>


                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Phone *</label>
                                            <div class="col-sm-10">
                                                <input type="text" id="phone" name="phone" required="" class="form-control" data-mask="(999) 999-9999" placeholder="Phone">
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>


                                        <div class="form-group">
                                            <div class="col-sm-4 col-sm-offset-2">
                                                <input type="hidden" name="pta_board" value="yes" />
                                                <button class="btn btn-primary" type="submit">Save PTA board</button>
                                            </div>
                                        </div>

                                    </form>

                            </div>
                        </div>

                    </div>


                    </div>
                </div>
            </div>
        </div>

{% endblock %}


{% block js %}

<script>
        function codeAddress() {
            $('#school_pta_active').attr('class', 'active');
        }
        window.onload = codeAddress;
</script>





{% endblock %}

