{% extends 'auth/chair.html' %}

{% block link %}
    <link href="css/plugins/slick/slick.css" rel="stylesheet">
    <link href="css/plugins/slick/slick-theme.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">

        <div id="main_div" class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content">
                    <span class="text-muted small pull-right">Last modification: <i class="fa fa-clock-o"></i> {{ last_modification }}</span>
                    <h2>School board</h2>
                    <p>
                        You can view/change details about School. Add images.
                    </p>
                    <div class="clients-list">
                    <ul class="nav nav-tabs">
                        <span class="pull-right small text-muted">{{ counter }}</span>
                        <li id="tab_1" class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-institution"></i> School info</a></li>
                        <li id="tab_2" class=""><a onclick="FillForm('{{ school.name }}', '{{ school.address_1 }}', '{{ school.address_1 }}', '{{ school.city }}', '{{ school.state }}', '{{ school.zipcode }}', '{{ school.pta_paid }}', '{{ school.pta_paid_date }}')" data-toggle="tab" href="#tab-2"><i class="fa fa-info-circle"></i> Change info</a></li>
                        <li id="tab_3" class=""><a data-toggle="tab" href="#tab-3"><i class="fa fa-image"></i> Upload image</a></li>
                    </ul>
                    <div class="tab-content">
                        <div  style="margin-top:35px; height: 500px;" id="tab-1" class="tab-pane active">

                            <div class="col-md-5">
                                <div class="product-images">
                                    <div>
                                        <img src="img/Exeter_High_School_New_Hampshire.jpg" alt="Smiley face" height="418" width="343">
                                    </div>
                                    <div>
                                        <div class="image-imitation">
                                            [IMAGE 2]
                                        </div>
                                    </div>
                                    <div>
                                        <div class="image-imitation">
                                            [IMAGE 3]
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-7">


                                <div class="m-t-md">
                                    <h2 class="product-main-price">{{ school.name }}</h2>
                                </div>
                                <hr>

                                <h4>School address</h4>
                                <div class="small text-muted">
                                    <p>{{school.address_1 }}, {{school.address_2 }}</p>
                                </div>

                                <h4>State</h4>
                                <div class="small text-muted">
                                    <p>{{school.state }}</p>
                                </div>

                                <h4>City</h4>
                                <div class="small text-muted">
                                    <p>{{school.city }}</p>
                                </div>

                                <h4>Zipcode</h4>
                                <div class="small text-muted">
                                    <p>{{school.zipcode }}</p>
                                </div>

                                <h4>PTA paid</h4>
                                <div class="small text-muted">
                                    <p>{% if school.pta_paid %}YES{% else %}NO{% endif %}</p>
                                </div>

                                <h4>PTA paid date</h4>
                                <div class="small text-muted">
                                    <p>{{ school.pta_paid_date }}</p>
                                </div>



                                <hr>

                                <div>
                                    <div class="btn-group">

                                        <a class="" data-toggle="tab" href="#tab-2">
                                            <button onclick="FillForm('{{ school.name }}', '{{ school.address_1 }}', '{{ school.address_1 }}', '{{ school.city }}', '{{ school.state }}', '{{ school.zipcode }}', '{{ school.pta_paid }}', '{{ school.pta_paid_date }}'); $('#tab_2').attr('class', 'active'); $('#tab_1').attr('class', '');" class="btn btn-primary btn-sm"><i class="fa fa-info-circle"></i> Change info</button>
                                        </a>

                                        <a class="" onclick="$('#tab_3').attr('class', 'active');$('#tab_1').attr('class', '');" data-toggle="tab" href="#tab-3">
                                            <button class="btn btn-success btn-sm"><i class="fa fa-image"></i> Upload image</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div style="margin-top:35px; height: 600px;" id="tab-2" class="tab-pane">
                               <form method="post" action="" class="form-horizontal">
                                    {% csrf_token %}



                                    <div class="form-group"><label class="col-sm-2 control-label">School name *</label>
                                        <div class="col-sm-10"><input id="school_name" pattern=".{3,}" title="Minimum 3 characters required" name="school" required="" type="text" placeholder="School name" class="form-control"></div>
                                    </div>
                                    <div class="hr-line-dashed"></div>


                                    <div class="form-group"><label class="col-sm-2 control-label">Address 1 *</label>
                                        <div class="col-sm-10"><input id='address_1' pattern=".{3,}" title="Minimum 3 characters required" name="address_1" required="" type="text" placeholder="Address 1" class="form-control"></div>
                                    </div>
                                    <div class="hr-line-dashed"></div>


                                    <div class="form-group"><label class="col-sm-2 control-label">Address 2</label>
                                        <div class="col-sm-10"><input id='address_2' pattern=".{3,}" title="Minimum 3 characters required" name="address_2" type="text" placeholder="Address 2" class="form-control"></div>
                                    </div>
                                    <div class="hr-line-dashed"></div>


                                    <div class="form-group"><label class="col-sm-2 control-label">City *</label>
                                        <div class="col-sm-10"><input id="city" pattern=".{3,}" title="Minimum 3 characters required" name="city" required="" type="text" placeholder="City" class="form-control"></div>
                                    </div>
                                    <div class="hr-line-dashed"></div>


                                    <div class="form-group" ><label class="col-sm-2 control-label">State *</label>
                                        <div class="col-sm-10"><input id="state" pattern=".{3,}" title="Minimum 3 characters required" name="state" required="" type="text" placeholder="State" class="form-control"></div>
                                    </div>
                                    <div class="hr-line-dashed"></div>


                                    <div class="form-group"><label class="col-sm-2 control-label">Zipcode *</label>
                                        <div class="col-sm-10"><input id="zip" data-mask="99999" title="Minimum 3 characters required" name="zipcode" required="" type="text" placeholder="Zipcode" class="form-control"></div>
                                    </div>
                                    <div class="hr-line-dashed"></div>


                                    <div class="form-group"><label class="col-sm-2 control-label">PTA paid</label>
                                        <div class="col-sm-10">
                                            <div class="i-checks "><label style="margin-right:10px"> <input id="pta_paid" type="checkbox" name="pta_paid"> <i></i></label>Yes/No</div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group"><label class="col-sm-2 control-label">PTA dues paid date</label>
                                        <div class="col-sm-10">
                                            <div class="form-group" id="data_1">
                                                <label class="font-noraml"></label>
                                                <div class="input-group date">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input id="pta_paid_date" name="pta_paid_date" type="text" pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d" title="Date format required: mm/dd/yyyy" class="form-control" placeholder="PTA dues paid date">
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-2">
                                            <input type="hidden" name="post" value="yes" />
                                            <button class="btn btn-primary" type="submit">Save changes</button>
                                        </div>
                                    </div>

                                </form>

                        </div>

                        <div style="margin-top:30px; height: 500px;" id="tab-3" class="tab-pane">

                            <div class="ibox-content">
                                <p>
                                    Please, choose image and resize it you want.
                                </p>
                                <div class="row">
                                    <div style="margin-top:-55px" class="col-md-6">
                                        <div style="width:461px; height:466px" class="image-crop">
                                            <img id="full_img" src="img/p3.jpg">
                                        </div>
                                    </div>
                                    <br style="margin-top:-47px" class="col-md-6">
                                    <h4>Preview image</h4>
                                    <div class="img-preview img-preview-sm"></div>
                                    <h4>Comon method</h4>
                                    <p>
                                        You can upload new image to crop container and easy download new cropped image.
                                    </p>


                                    <div class="btn-group">
                                        <label title="Upload image file" for="inputImage" class="btn btn-outline btn-success">
                                            <i class="fa fa-upload"></i>
                                            <input type="file" accept="image/*" name="file" id="inputImage" class="hide">
                                            Upload new image
                                        </label>
                                        <label title="Donload image" id="download" class="btn btn-outline btn-primary">Download <i class="fa fa-download"></i></label>
                                    </div>
                                    </br></br>

                                    <form method="post" action="" class="form-horizontal">
                                    {% csrf_token %}
                                    <div  class="btn-group">
                                        <div class="col-sm-10" style="display:none">
                                            <input id="img_url" name="img_url" type="text" class="form-control">
                                        </div>





                                    <div style="margin-left:1px; margin-top:-2px" class="form-group">
                                        <input type="hidden" name="img" value="yes" />
                                        <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Save changes as ...</button>
                                    </div>


                                    </div>
                                </form>




                                <div style="margin-left:-320px;" class="btn-group">
                                    <button class="btn btn-outline btn-primary" id="zoomIn" type="button"><i class="fa fa-search-plus"></i></button>
                                    <button class="btn btn-outline btn-primary" id="zoomOut" type="button"><i class="fa fa-search-minus"></i></button>
                                    <button class="btn btn-outline btn-success" id="rotateLeft" type="button"><i class="fa fa-rotate-left"></i></button>
                                    <button class="btn btn-outline btn-success" id="rotateRight" type="button"><i class="fa fa-rotate-right"></i></button>
                                </div>


                                </div>

                            </div>

                        </div>


                        </div>

                    </div>


                    </div>
                </div>
            </div>
        </div>

{% endblock %}


{% block js %}

<script> function FillForm(name, address_1, address_2, city, state, zipcode, pta_paid, pta_paid_date) {
    document.getElementById("school_name").value=name;
    document.getElementById("address_1").value=address_1;
    document.getElementById("city").value=city;
    document.getElementById("state").value=state;
    document.getElementById("zip").value=zipcode;
    if (pta_paid == 'True'){document.getElementById("pta_paid").checked = true;}
    else {console.log('false');document.getElementById("pta_paid").checked = false;}
    document.getElementById("pta_paid_date").value=pta_paid_date;
    }
</script>



<script>
        function codeAddress() {
            $('#school_pta_active').attr('class', 'active');
        }
        window.onload = codeAddress;
</script>





{% endblock %}

