<html>
<body>
    <div>
    <label class="input">School Name</label>
    <input type="text" style="width: 100%;" id="school_name">
    </div>

    <div>
    <label class="input">City</label>
    <input type="text" style="width: 100%;" id="city">
    </div>

    <div>
    <label class="input">State</label>
    <input type="text" style="width: 100%;" id="state">
    </div>

    <div>
    <label class="input">Country</label>
    <input type="text" style="width: 100%;" id="country">
    </div>

    <div>
    <label class="input">Zipcode</label>
    <input type="text" style="width: 100%;" id="zip">
    </div>

</body>

<script type="text/javascript">

function initMap() {

    var input = document.getElementById('school_name');
    var autocomplete = new google.maps.places.Autocomplete(input);
    autocomplete.addListener('place_changed', function() {
        var place = autocomplete.getPlace();
        var address = '';
        if (place.address_components) {
            address = [
              (place.address_components[0] && place.address_components[0].short_name || ''),
              (place.address_components[1] && place.address_components[1].short_name || ''),
              (place.address_components[2] && place.address_components[2].short_name || '')
            ].join(' ');
        }
        //Location details
        for (var i = 0; i < place.address_components.length; i++) {
            if(place.address_components[i].types[0] == 'postal_code'){
                document.getElementById('zip').value = place.address_components[i].long_name;
            }
            if(place.address_components[i].types[0] == 'country'){
                document.getElementById('country').value = place.address_components[i].long_name;
            }
        }
        var address=place.formatted_address.split(',');
       
        //document.getElementById('country').innerHTML=((address[address.length-1] != null)?address[address.length-1]:'');
        document.getElementById('state').value=((address[address.length-2] != null)?(address[address.length-2].replace(/[0-9]/g, '')):'');
        document.getElementById('city').value=((address[address.length-3] != null)?address[address.length-3]:'');  
       // document.getElementById('lat').innerHTML = place.geometry.location.lat();
        //document.getElementById('lon').innerHTML = place.geometry.location.lng();
    });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAorGXTUrQYGnHTwv0Kgy91PWxOK_16ZKw&libraries=places&callback=initMap" async defer></script>
</html>